@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.p-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.m-3 {
  margin: 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.p-3 {
  padding: 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.p-4 {
  padding: 4rem;
}

.py-4 {
  padding: 4rem 0;
}

.m-5 {
  margin: 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.p-5 {
  padding: 5rem;
}

.py-5 {
  padding: 5rem 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(img/bg.gif) no-repeat center center/cover fixed;
  color: #333;
  font-family: "Poppins", sans-serif;
  display: grid;
  place-items: center;
}

a {
  color: inherit;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

section {
  border-radius: 10px;
  background-color: #efefef;
  width: 100%;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  background: transparent;
  width: min(95%, 1300px);
}

.intro {
  margin-top: 0.75rem;
}
.intro .intro-img {
  margin: 0 auto;
}
.intro article {
  width: min(100%, 900px);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #333;
  margin: 0 auto;
}
.intro article .clip-path {
  -webkit-clip-path: polygon(50% 0%, 100% 0, 93% 100%, 8% 100%, 0 0);
          clip-path: polygon(50% 0%, 100% 0, 93% 100%, 8% 100%, 0 0);
  border-radius: 5%;
}
.intro article a {
  font-size: 1.25rem;
}
.intro article a:hover {
  color: #0e4a68;
}
.intro article p {
  max-width: 50ch;
  text-align: center;
}
.intro aside ul {
  flex-wrap: wrap;
  justify-content: flex-start;
}
.intro aside ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
}
.intro aside ul li img {
  margin: 0 0.5rem;
}

.playlist {
  display: grid;
  place-items: center;
  width: min(90%, 600px);
}

.bio {
  display: grid;
  place-items: center;
}
.bio article {
  width: min(100%, 800px);
}
.bio a {
  color: #0e4a68;
}
.bio h1 {
  font-size: clamp(1.25rem, 1.25rem + 1vw, 1.8rem);
  margin-bottom: 3rem;
}
.bio h1 .pronunciation {
  font-size: clamp(0.85rem, 0.85rem + 0.5vw, 1rem);
  font-weight: 500;
}
.bio h2 {
  margin-bottom: 1.25rem;
}
.bio figcaption {
  font-size: 0.85rem;
}
.bio ul {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  list-style-type: disc;
  margin-left: 3.5rem;
  margin-top: 1.25rem;
}

.sports-logos {
  display: flex;
  gap: 0.6rem;
}
.sports-logos .logo {
  border: 1px solid #333;
  height: 80px;
  width: 80px;
  padding: 6px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-bottom: 0.75rem;
}
.sports-logos img {
  max-width: 100%;
}

.books-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(380px, 50%), 1fr));
  gap: 1em;
}
.books-container .card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.25rem;
  border: 1px solid #333;
  border-radius: 3px;
}

.blog h2 {
  font-size: clamp(1.25rem, 1.25rem + 1vw, 1.6rem);
}
.blog article {
  width: min(100%, 800px);
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 8px;
}
.blog article figure {
  width: 100%;
}
.blog article figure img {
  max-width: 100%;
  box-shadow: 2px 2px 8px #ccc;
}

.contact {
  max-width: 600px;
  position: relative;
  display: grid;
}
.contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background-color: #efefef;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  box-shadow: 0 0 30px #333;
}
.contact form {
  padding-top: 5rem;
  z-index: 2;
}
.contact form input, .contact form textarea {
  border: none;
  border-bottom: 1px solid #333;
  font-size: 1.1rem;
  padding: 3px;
  background: transparent;
  width: 100%;
  margin: 1rem 0;
}
.contact form label {
  align-self: flex-start;
}
.contact form button {
  border: none;
  outline: 0;
  font-size: 1.75rem;
  padding: 12px;
  color: #fff;
  background-color: #0e4a68;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  place-content: center;
  margin-bottom: 2rem;
  cursor: pointer;
}
.contact form button:hover {
  scale: 1.1;
}/*# sourceMappingURL=style.css.map */