@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@import 'config';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(img/bg.gif) no-repeat center center/cover fixed;
  color: $text;
  font-family: 'Poppins', sans-serif;
  display: grid;
  place-items: center;
}

a {
  color: inherit;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

section {
  border-radius: 10px;
  background-color: $clr-light;
  width: 100%;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  background: transparent;
  width: min(95%, 1300px);
}

.intro {
  margin-top: .75rem;

  article {
    width: min(100%, 900px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $text;
    // gap: 7rem;

    .clip-path {
      clip-path: polygon(50% 0%, 100% 0, 93% 100%, 8% 100%, 0 0);
      border-radius: 5%;
    }

    a {
      font-size: 1.25rem;

      &:hover {
        color: $clr-primary;
      }
    }

    p {
      max-width: 50ch;
      text-align: center;
    }
  }

  aside {
    ul {
      flex-wrap: wrap;
      justify-content: flex-start;

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 1rem;

        img {
          margin: 0 .5rem;
        }
      }
    }
  }
}

.playlist {
  display: grid;
  place-items: center;
  width: min(90%, 600px);
}

.bio {
  display: grid;
  place-items: center;
  
  article {
    width: min(100%, 800px);
  }

  a {
    color: $clr-primary;
  }

  h1 {
    font-size: clamp(1.25rem, 1.25rem + 1vw, 1.8rem);
    margin-bottom: 3rem;

    .pronunciation {
      font-size: clamp(.85rem, .85rem + .5vw, 1rem);
      font-weight: 500;
    }
  }

  h2 {
    margin-bottom: 1.25rem;
  }

  figcaption {
    font-size: .85rem;
  }

  ul {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    list-style-type: disc;
    margin-left: 3.5rem;
    margin-top: 1.25rem;
  }
}

.sports-logos {
  display: flex;
  gap: .6rem;

  .logo {
    border: 1px solid #333;
    height: 80px;
    width: 80px;
    padding: 6px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-bottom: .75rem;
  }

  img {
    max-width: 100%;
  }
}

.books-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(380px, 50%), 1fr));
  gap: 1em;
  // max-width: 860px;

  .card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.25rem;
    border: 1px solid #333;
    border-radius: 3px;
  }
}

.blog {

  article {
    width: min(100%, 800px);
    figure {
      max-width: 100%;
      img {
        max-width: 100%;
      }
    }
  }
}